#include "man.h"
IDB_BEIJIN BITMAP "rec\\BJ.bmp"
IDB_DINGBAN BITMAP "rec\\DB.bmp"
IDB_SUIZHUAN BITMAP "rec\\SZ.bmp"
IDB_TANBAN BITMAP "rec\\TZ.bmp"
IDB_YOUZHUAN BITMAP "rec\\YZ.bmp"
IDB_ZUOZHUAN BITMAP "rec\\ZZ.bmp"
IDB_ZHUAN BITMAP "rec\\Z.bmp"
IDB_RENWU BITMAP "rec\\RW.bmp"
IDB_TOU BITMAP "rec\\TOU.bmp"
IDB_SC BITMAP "rec\\SC.bmp"
IDB_SHU BITMAP "rec\\SHU.bmp"
IDB_JS BITMAP "rec\\JS.bmp"
IDB_HP BITMAP "rec\\HP.bmp"
